<template>
  <section class="post-list">
    <PostPreview
      id="1"
      thumbnail="https://hackadaycom.files.wordpress.com/2018/06/linuxfu.jpg?w=800"
      titile="hello there!"
      preview-text="This my first post!"/>
    <PostPreview
      id="2"
      thumbnail="https://hackadaycom.files.wordpress.com/2018/06/linuxfu.jpg?w=800"
      titile="hello there!"
      preview-text="This my first post!"/>
    <PostPreview
      id="3"
      thumbnail="https://hackadaycom.files.wordpress.com/2018/06/linuxfu.jpg?w=800"
      titile="hello there!"
      preview-text="This my first post!"/>
  </section>
</template>

<script>
import PostPreview from '@/components/Posts/PostPreview'

export default {
  components: {
    PostPreview
  }
}
</script>

<style scoped>
.post-list {
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
</style>
